.container {
    margin: 0 auto;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.header-caption {
    display: inline-block;
}

.header-menu {
    display: inline-block;
}

.header-menu-item {
    display: inline-block;
    list-style: none;
}

.menu-badge {
    border-radius: 50%;
    background: rgba(0 ,0, 0, .1);
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    box-sizing: border-box;
}

.menu-badge-num {
    font-size: 10px;
    position: absolute;
    margin: 1px 4px;
}

.header-menu-item > a {
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #000;
}

.header-menu-item > a.active {
    background: rgba(0, 0, 0, .1);
}

.content {
    width: 960px;
    margin: 40px auto;
}

.wishlist-container {
    margin: 0;
    padding: 0;
}

.wishlist-item {
    display: inline-block;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin-right: 10px;
    position: relative;
    background-position: center;
}

.wishlist-item-toggle {
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.wishlist-item-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    padding: 10px;
    height: 70px;
    background: rgba(0, 0, 0, .7);
}

.header-content,
.footer-content {
    width: 960px;
    margin: 0 auto;
}

.footer {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #777;
    border-top: 1px solid #eee;
}