<!DOCTYPE html>
<html>
<head>
    <title>Isomorphic example</title>
    <link rel="stylesheet" type="text/css" href="app/css/clear.css">
    <link rel="stylesheet" type="text/css" href="app/css/main.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' >
</head>
<body>
    <div id="content"><%- content %></div>
    <script>window.__DATA__ = <%- data %>;</script>
    <script type="text/javascript" src="http://localhost:3001/build/bundle.js"></script>
</body>
</html>